body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.maindiv {
  width: 1500px;
  height: 900px;
  background-color: #201e28;
}

.body {
  background-color: #201e28;
}

.topnavbar {
  width: 1500px;
  height: 122px;
  background-color: #565657;
}

.div-block {
  background-color: #6f6464;
}

.div-block.rightnavbar {
  position: absolute;
  width: 325px;
  height: 778px;
  margin-left: 1175px;
  background-color: #3b4864;
}

.mapdiv {
  width: 1175px;
  height: 778px;
  float: left;
  clear: left;
  background-color: #fff;
}

.image {
  position: relative;
  width: 318px;
}

.div-block-2 {
  float: none;
  clear: none;
}

.flakeicon {
  margin-left: 11px;
}

.batteryicon {
  margin-left: 9px;
}

.chargeicon {
  margin-left: 12px;
}

.settingsicon {
  margin-left: 4px;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  visibility: hidden;
}

.spinner > div {
  background-color: red;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}